.container {
  min-height:70vh;
  margin-top: 9em;
  margin-bottom: 1em;
}


@media(max-width:500px) {
  .container {
    width: 100%;
    min-height: 75vh;
    margin-top: 0;
    font-size: .8em;
  }

  .link_list {
      flex-direction: column;
  }
}