.container {
  min-height:85vh;
  margin-top: 9em;
  margin-bottom: 1em;
}



@media(max-width:1000px) {
  .container {
    width: 100%;
    height: fit-content;
    margin-top:0;
    font-size: .8em;
  }

  .link_list {
      flex-direction: column;
  }
}