form {
  font-size: 1em;
  min-width: 100%;
  margin-left: 0;
}

h1 {
    margin-top: 0;
}

h2 {
    margin-top: 0;
}

p {
  text-align: justify;
}

.buttons {
    display: flex;
    flex-direction: row;
}


.imagesform {
  margin-top: 1em;
  min-width: fit-content;
}


.radio {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
