.home {
  height: 60vh;
  background-image: url("../../images/logot.png");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.home h1 {
  margin-top: 5em;
  color: var(--main-dark);
}

@media (max-width: 1400px)  {
  .home {
    padding: 1em;
  }

}
