.homeNoUser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
}

.homeNoUser img {
  width: 15%;
  height: auto;
  text-align: center;
  margin-top: -5em;
  margin-bottom: -3em;
}

.homeNoUser p {
  font-size: 1em;
  padding: 0.7npm em;
  margin: 0 1em;
  text-align: justify;
}

.text {
  display: flex;
  flex-direction: column;
}

.homeUser {
  height: 60vh;
  background-image: url("../../images/logot.png");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.homeUser h1 {
  color: var(--main-dark);
}

.homeUser p {
  font-weight: bolder;
}

@media (max-width: 1000px) {
  .homeNoUser {
    height: 100%;
    margin-top: 6em;
  }

  .homeNoUser img {
    width: 50%;
    height: auto;
    text-align: center;
    margin-bottom: .1em;
  }
}
