.navbar {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.15) 0px -2px 10px 0px;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 2em;
  height: 5em;
  background-color: var(--main-light);
}

.navbar img {
  height: 5.5em;
  width: auto;
}

.link_list {
  display: flex;
  list-style: none;
}

.link_list li {
  margin-right: 1em;
}

.link_list li a {
  padding: 0.4em 0.6em;
}

.active {
  background-color: var(--main-dark);
  color: var(--main-light);
  border-radius: 10px;
}

@media (max-width: 500px) {
  .navbar {
    width: 100%;
    height: fit-content;
    padding: 0;
    justify-content: space-around;
  }

  .link_list {
    flex-direction: column;
  }

  .link_list li{
    margin-bottom: .5em;
  }
}
