.form {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.buttons {
  display: flex;
  flex-direction: column;
  width: 15%;
  margin-left: 1em;
  padding: 0 2em 0 0;
  
}

.buttons button {
  white-space: normal;
  width: 100%;
}

.message {
  text-align: center;
}

.component {
  width: 85%;
  padding: 0 0 0 1em;
  border-left: 5px double var(--main-dark);
}

.active {
  background-color: var(--main-dark);
  color: var(--main-light)
}


@media (max-width: 500px) {
  .form {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    justify-content: space-around;
    width: 100%;
  }
  .buttons {
    display: flex;
    flex-direction: row;
    width: fit-content;
    padding: 0 1em 0 1em;
    flex-wrap: wrap;
  }

  .component {
    padding: 0 2em 0 2em;
    margin-top: 1em;
  }
}
